:where(.bread-crumbs) {
  margin-block-start: min(var(--length-24), 36px);
  padding-inline-start: min(var(--length-20), 28px);
  inline-size: 100%;
}

:where(.bread-crumbs a) {
  text-align: center;
  text-decoration: none;
  color: inherit;
  margin-inline-start: min(var(--length-8), 16px);
}

:where(.bread-crumbs li) {
  text-align: center;
  font-weight: 400;
  font-size: var(--length-12);
  line-height: var(--length-12);
  color: var(--color-faded);
  white-space: nowrap;
}

:where(.bread-crumbs li:last-of-type) {
  color: var(--color-text-2);
}

:where(.bread-crumbs svg) {
  margin-inline-start: min(var(--length-6), 24px);
  margin-block-end: calc(var(--length-2) * -1);
  inline-size: var(--length-6);
  block-size: var(--length-12);
  aspect-ratio: 1/2;
  fill: var(--color-faded);
  transform: rotate(180deg);
}

:where(html[dir="rtl"] .bread-crumbs svg) {
  transform: none;
}

@media (prefers-contrast: more) {
  :where(.bread-crumbs li) {
    color: var(--color-text-2);
  }
}

@media (pointer: coarse) {
  :where(.bread-crumbs a) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-block-size: var(--length-coarse-min);
  }
}
