@media (pointer: coarse) {
  .button {
    min-inline-size: var(--length-48);
  }
}

:where(.button) {
  font-size: var(--length-14);
  border: none;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: var(--length-3);
  border-width: var(--border-thick);
  padding-block-start: var(--length-8);
  padding-inline-end: var(--length-20);
  padding-block-end: var(--length-8);
  padding-inline-start: var(--length-20);
  min-inline-size: max-content;
  inline-size: 100%;
  min-block-size: max-content;
  overflow-x: hidden;
  word-break: break-all;
}

:where(.button[data-variant="faded"]) {
  color: var(--color-text);
  background-color: var(--color-faded-4);
  border-color: var(--color-faded-4);
  font-weight: 700;
}

:where(.button[data-variant="faded"]:hover) {
  background-color: var(--color-faded-5);
  border-color: var(--color-faded-5);
}

:where(.button[data-variant="faded"]:active) {
  background-color: var(--color-faded-3);
  border-color: var(--color-faded-3);
}

:where(.button[data-variant="faded"]:disabled:hover, .button[data-variant="faded"]:disabled:active) {
  background-color: var(--color-faded);
  border-color: var(--color-faded);
}

:where(.button[data-variant="primary"]) {
  color: var(--color-text-2);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  font-weight: 400;
}

:where(.button[data-variant="primary"]:hover) {
  background-color: var(--color-primary-3);
  border-color: var(--color-primary-3);
}

:where(.button[data-variant="primary"]:active) {
  background-color: var(--primary-button-active-color);
  border-color: var(--primary-button-active-color);
}

:where(.button[data-variant="primary"]:disabled:hover, .button[data-variant="primary"]:disabled:active) {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

:where(.button[data-variant="accent"]) {
  font-weight: 700;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-primary);
}

:where(.button[data-variant="accent"]:hover) {
  background-color: var(--color-accent-2);
  border-color: var(--color-accent-2);
}

:where(.button[data-variant="accent"]:active) {
  background-color: var(--color-accent-3);
  border-color: var(--color-accent-3);
}

:where(.button[data-variant="accent"]:disabled:hover, .button[data-variant="accent"]:disabled:active) {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

:where(.button[data-rounding="full"]) {
  border-radius: var(--length-48);
}

:where(.button > span > svg) {
  inline-size: var(--length-6);
  aspect-ratio: 1/1;
  min-inline-size: fit-content;
  margin-inline-start: var(--length-8);
}

:where(.button:disabled) {
  cursor: not-allowed;
  opacity: 0.6;
}
