@media (pointer: coarse) {
  .button {
    min-inline-size: var(--min-touchable-size);
    min-block-size: var(--min-touchable-size);
  }
}

.button {
  --button-inline-padding: clamp(22px, 0.25em + 24px, 2em);
  --button-block-padding: clamp(4px, 0.4em + 4px, 0.75em);
  --button-svg-size: 1em;

  font-size: var(--font-size-1);
  border: none;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: var(--size-3);
  border-width: var(--border-thick);
  padding-block-start: var(--button-block-padding);
  padding-inline-end: var(--button-inline-padding);
  padding-block-end: var(--button-block-padding);
  padding-inline-start: var(--button-inline-padding);
  min-inline-size: max-content;
  inline-size: 100%;
  min-block-size: fit-content;
}

.button[data-variant="faded"] {
  color: var(--color-text);
  background-color: var(--color-faded-4);
  border-color: var(--color-faded-4);
  font-weight: 700;
}

.button[data-variant="faded"]:hover {
  background-color: var(--color-faded-5);
  border-color: var(--color-faded-5);
}

.button[data-variant="faded"]:active {
  background-color: var(--color-faded-3);
  border-color: var(--color-faded-3);
}

.button[data-variant="primary"] {
  color: var(--color-text-2);
  background-color: var(--color-priamry);
  border-color: var(--color-priamry);
  font-weight: 400;
}

.button[data-variant="primary"]:hover {
  background-color: var(--color-primary-3);
  border-color: var(--color-primary-3);
}

.button[data-variant="primary"]:active {
  background-color: var(--primary-button-active-color);
  border-color: var(--primary-button-active-color);
}

.button[data-variant="accent"] {
  font-weight: 700;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-priamry);
}

.button[data-variant="accent"]:hover {
  background-color: var(--color-accent-2);
  border-color: var(--color-accent-2);
}

.button[data-variant="accent"]:active {
  background-color: var(--color-accent-3);
  border-color: var(--color-accent-3);
}

.button[data-rounding="full"] {
  border-radius: var(--size-24);
}

.button>span>svg {
  inline-size: var(--button-svg-size);
  block-size: var(--button-svg-size);
  min-inline-size: fit-content;
  margin-inline-start: calc(var(--button-svg-size) / 1.8);
}