.card {
  --card-border-radius: 0.5rem;
  --card-border-color: hsla(218, 6%, 24%, 0.06);
  --card-color: hsl(0, 0%, 100%);
  --card-border-width: 1px;
  --card-text-color: hsl(218, 6%, 24%);

  --card-inner-distance-0: 5px;
  --card-inner-distance-1: 0.25rem;
  --card-inner-distance-2: 0.5rem;
  --card-inner-distance-3: 0.685rem;
  --card-inner-distance-4: 0.75rem;
  --card-inner-distance-5: 0.875rem;
  --card-inner-distance-6: 1rem;
  --card-inner-distance-6-1: 1.125rem;
  --card-inner-distance-7: 1.5rem;
  --card-inner-distance-8: 2rem;
  --card-inner-distance-9: 2.5rem;

  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-color);
  border: solid var(--card-border-color) var(--card-border-width);
  border-radius: var(--card-border-radius);
  color: var(--card-text-color);
  overflow-x: hidden;
  box-shadow: hsla(218, 6%, 24%, 0.06) 0px 1px 0px,
    hsla(0, 0%, 0%, 0.05) 0px 2px 8px -2px;
}

.card > [data-field="name"] > h3:first-of-type {
  font-size: var(--card-inner-distance-6-1);
  padding-top: var(--card-inner-distance-9);
  text-align: center;
  margin-bottom: var(--card-inner-distance-2);
  font-weight: 700;
}

.card > .card-image {
  width: 100%;
  height: 40%;
  position: relative;
}

.card > .card-image > [data-field="image"] > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 2/1;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card > .card-image > .store-offer {
  padding: calc(var(--card-inner-distance-1) + 2.5px)
    var(--card-inner-distance-4);

  background-color: hsl(0, 0%, 100%);
  border-top-left-radius: 1rem;
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: hsl(320, 100%, 44%);
  font-size: var(--card-inner-distance-5);
}

.card > .card-image > [data-field="image"] > .card-store-icon {
  position: absolute;
  border-radius: 10px;
  bottom: -1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--card-inner-distance-4);
}

.card > .card-image > [data-field="image"] > .card-store-icon > img {
  box-shadow: hsla(218, 6%, 24%, 0.06) 0px 1px 0px,
    hsla(0, 0%, 0%, 0.3) 0px 8px 32px -16px;
  border: 4px solid hsla(218, 6%, 24%, 0.06);
  border-radius: 12px;
  width: 25%;
  height: 25%;
  /* padding: 5px; */
  background-color: hsl(0, 0%, 100%);
}

.card > [data-field="rating"] > dl {
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > [data-field="rating"] > dl > dd {
  font-size: var(--card-inner-distance-4);
}
.card > [data-field="rating"] > dl > dd:first-of-type {
  font-weight: 700;
}

.card > [data-field="rating"] > dl > .score-count {
  color: hsl(206, 4%, 66%);
  margin: var(--card-inner-distance-0);
}

.card > [data-field="rating"] > dl > svg:first-of-type {
  margin: 0 var(--card-inner-distance-0) var(--card-inner-distance-0)
    var(--card-inner-distance-0);
  width: 12px;
  height: 12px;
}

.card > dd[data-field="category"] > .categories {
  font-size: var(--card-inner-distance-4);
  color: hsl(206, 4%, 66%);
  margin-top: -0.5rem;
  margin-bottom: var(--card-inner-distance-4);
}

.card .card-delivery {
  font-size: var(--card-inner-distance-4);
  line-height: 1rem;
  padding: var(--card-inner-distance-3) var(--card-inner-distance-5);
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4.5rem;
  color: hsl(218, 6%, 24%);
  box-shadow: hsla(218, 6%, 24%, 0.06) 0px 1px 0px,
    hsla(0, 0%, 0%, 0.05) 0px 2px 8px -2px;
  display: flex;
  justify-content: center;
  margin-bottom: var(--card-inner-distance-7);
  margin-top: var(--card-inner-distance-7);
  align-items: center;
}

.card .card-delivery > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.card .card-delivery > div > span {
  padding: 2px;
  margin-bottom: -5px;
}

.card .card-delivery svg:first-of-type {
  margin: var(--card-inner-distance-0);
}

:where(html[dir="rtl"] .card) {
  direction: rtl;
}
