@import "../assets/base.css";

:where(.carousel ){
    --carousel-item-min-size: 44px;
    --carousel-size-1: 1rem;
    --carousel-size-2: 0.75rem;
    --carousel-text-color: hsl(220, 5%, 34%);
}

:where(.carousel) {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    padding-top: var(--carousel-size-1);
    overflow-x: auto;
    list-style: none;
    color: var(--carousel-text-color);
    font-size: var(--carousel-size-2);
}

:where(.carousel>li ){
    flex-grow: 1;
    flex-shrink: 1;
    min-width: calc(var(--carousel-item-min-size) * 2);
}

:where(.carousel>li>a ){
    color: var(--carousel-text-color);
    text-decoration: none;
}

:where(.carousel>li>a>figure>figcaption ){
    color: var(--carousel-text-color);
}

:where(.carousel>li>a>figure ){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--carousel-size-1);
    text-decoration: none;
    color: inherit;
}

:where(.carousel>li>a>figure>img ){
    width: var(--carousel-item-min-size);
    height: var(--carousel-item-min-size);
    margin-bottom: var(--carousel-size-1);
}

:where(html[dir="rtl"] .carousel) {
    direction: rtl;
    flex-direction: row-reverse;
}