@import "../base.css";

:where(.carousel) {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    padding-top: var(--length-16);
    overflow-x: auto;
    list-style: none;
    color: var(--color-text-2);
    font-size: var(--length-12);
}

:where(.carousel > li) {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: var(--length-80);
}

:where(.carousel ._link) {
    color: var(--color-text-2);
    text-decoration: none;
}

:where(.carousel ._name) {
    color: var(--color-text-2);
}

:where(.carousel ._link > div) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--length-16);
    text-decoration: none;
    color: inherit;
}

:where(.carousel ._link > img) {
    width: var(--length-48);
    height: var(--length-48);
    margin-bottom: var(--length-16);
}

:where(html[dir="rtl"] .carousel) {
    direction: rtl;
    flex-direction: row-reverse;
}