:where(.food-card) {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding-block: min(var(--length-16), 32px);
  /* margin-inline: min(var(--length-16), 24px); */
  overflow-x: hidden;
}

:where(.food-card > div) {
  flex-grow: 2;
  display: flex;
  padding-inline: min(var(--length-8), 12px);
}

:where(.food-card > div:first-of-type) {
  justify-content: space-between;
}

:where(.food-card ._identity) {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding-block-start: min(var(--length-8), 16px);
  margin-inline-start: min(12px, var(--length-8));
}

:where(.food-card > div:nth-child(1)) {
  margin-block-start: min(var(--length-8), 16px);
}

:where(.food-card > div:nth-child(n + 1)) {
  justify-content: space-between;
  align-items: center;
  padding-block: min(var(--length-8), 16px);
}

:where(.food-card > div:nth-of-type(n + 2):hover) {
  background-color: var(--color-faded-4);
}

:where(.food-card div:nth-child(n + 1) button) {
  padding-block: min(var(--length-6), 12px);
  padding-inline: min(var(--length-32), 48px);
  transition: all 150ms ease-out 0s;
  color: var(--color-accent);
  box-shadow: var(--box-shadow-thick);
  border: var(--border-thick) solid var(--color-accent-4);
  box-shadow: hsla(218, 6%, 24%, 0.06) 0px 1px 0px,
    hsla(0, 0%, 0%, 0.2) 0px 4px 16px -8px;
}

:where(.food-card img:only-of-type) {
  flex-grow: 1;
  align-self: flex-start;
  min-inline-size: min(var(--length-80), 120px);
  inline-size: min(40%, 8rem);
  max-inline-size: 8rem;
  margin-inline-end: min(var(--length-4), 8px);
  aspect-ratio: 1/1;
  border-radius: min(var(--length-8), 12px);
}

:where(.food-card ._ingredients) {
  display: block;
  max-width: max-content;
  min-width: 6rem;
  padding-block: min(var(--length-16), 32px);
  padding-inline-end: min(var(--length-24), 32px);
  margin-inline: 0px;
  margin-block: 0px;
  text-align: start;
  line-height: var(--length-16);
  font-size: var(--length-12);
  font-weight: 400;
  color: var(--color-faded);
  word-break: normal;
}

:where(.food-card ._name) {
  display: inline-block;
  text-align: initial;
  font-size: var(--length-fluid-extra-small);
  font-weight: 700;
  line-height: var(--length-24);
  color: var(--color-text);
}

:where(.food-card ._price) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  inline-size: max-content;
  margin-inline-start: min(12px, var(--length-8));
}

:where(.food-card ._price div) {
  display: flex;
}

:where(.food-card ._variation) {
  font-size: var(--length-12);
}

:where(.food-card ._price dd) {
  padding-inline: min(var(--length-2), 4px);
  padding-block: var(--length-2);
  text-align: center;
  font-size: var(--length-12);
  font-weight: 700;
  line-height: var(--length-20);
  color: var(--color-text);
}

:where(.food-card div:nth-child(n + 1) button:hover) {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent-4);
  box-shadow: var(--box-shadow-thick);
}
