:where(.food-card) {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding-block: var(--length-16);
  margin-inline: var(--length-16);
  overflow-x: auto;
}

:where(.food-card > div) {
  flex-grow: 2;
  display: flex;
  padding-inline: var(--length-8);
}

:where(.food-card > div:first-of-type) {
  justify-content: space-between;
}

:where(.food-card > div:first-of-type div) {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding-block-start: var(--length-8);
}

:where(.food-card > div:nth-child(1)) {
  margin-block-start: var(--length-8);
}
:where(.food-card > div:nth-child(n + 1)) {
  justify-content: space-between;
  align-items: center;
  padding-block: var(--length-8);
}

:where(.food-card > div:nth-of-type(n + 2):hover) {
  background-color: var(--color-faded-4);
}

:where(.food-card div:nth-child(n + 1) button) {
  padding-block: var(--length-6);
  padding-inline: var(--length-32);
  transition: all 150ms ease-out 0s;
  color: var(--color-accent);
  box-shadow: var(--box-shadow-thick);
  border: var(--border-thick) solid var(--color-accent-4);
  box-shadow: hsla(218, 6%, 24%, 0.06) 0px 1px 0px,
    hsla(0, 0%, 0%, 0.2) 0px 4px 16px -8px;
}

:where(.food-card div img) {
  flex-grow: 1;
  align-self: flex-start;
  inline-size: 45%;
  max-inline-size: 32rem;
  margin-inline-end: var(--length-4);
  aspect-ratio: 1/1;
  border-radius: var(--length-8);
}

:where(.food-card ._ingredients) {
  display: block;
  max-width: max-content;
  min-width: 100px;
  padding-block: var(--length-16);
  padding-inline-end: var(--length-16);
  margin-inline: 0px;
  margin-block: 0px;
  text-align: start;
  line-height: var(--length-16);
  font-size: var(--length-12);
  font-weight: 400;
  color: var(--color-faded);
  word-break: normal;
}

:where(.food-card ._name) {
  display: inline-block;
  text-align: initial;
  font-size: var(--length-16);
  font-weight: 700;
  line-height: var(--length-24);
  color: var(--color-text);
  word-break: break-all;
}

:where(.food-card ._price) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  inline-size: max-content;
}

:where(.food-card ._price div) {
  display: flex;
}

:where(.food-card ._variation) {
  font-size: var(--length-12);
}

:where(.food-card ._price dd) {
  padding-inline: var(--length-2);
  padding-block: var(--length-2);
  text-align: center;
  font-size: var(--length-12);
  font-weight: 700;
  line-height: var(--length-20);
  color: var(--color-text);
}

:where(.food-card div:nth-child(n + 1) button:hover) {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent-4);
  box-shadow: var(--box-shadow-thick);
}
