.footer {
  inline-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--length-40);
  padding-block: var(--length-40);
  background-color: var(--color-faded-8);
}

.footer > * {
  flex-grow: 1;
}

._vendor a {
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

._vendor a svg {
  width: 5rem;
  height: 5rem;
}

._vendor span:last-of-type {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  color: rgb(83, 86, 92);
  text-align: initial;
  display: block;
}
._vendor span:first-of-type {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  word-break: keep-all;
  width: max-content;
  display: inline-block;
  color: rgb(255, 0, 166);
  display: inline-block;
  margin: 8px;
  margin-top: -8px;
}
._sitemap {
  /* display: flex;
    justify-content: center;
    flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  flex-wrap: wrap;
  max-height: 100%;
  padding-block: var(--length-40);
  padding-inline: var(--length-40);
}

._sitemap a {
  text-decoration: none;
  color: inherit;
  font-size: var(--length-12);
  line-height: var(--length-16);
  display: inline-block;
  color: var(--color-text);
  margin-inline: var(--length-8);
  margin-block: var(--length-8);
}

._sitemap li:nth-child(2n) {
  margin-left: auto;
}

._contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  inline-size: max-content;
  margin-inline-end: var(--length-24);
  margin-inline-start: var(--length-64);
}

._contacts li {
  color: var(--color-faded);
  text-decoration: none;
  cursor: pointer;
  transition: all 150ms ease-out 0s;
  inline-size: var(--length-40);
  aspect-ratio: 1/1;
  border: var(--border-thick) solid rgba(58, 61, 66, 0.06);
  border-radius: 10000px;
  background-color: var(--color-primary);
  background-clip: padding-box;
  box-shadow: var(--box-shadow-normal);
  font-size: var(--length-16);
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: var(--length-12); */
  margin: var(--length-8);
}

._contacts a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

._contacts svg {
  inline-size: var(--length-20);
  block-size: var(--length-20);
  aspect-ratio: 1/1;
  text-align: center;
}

._credentials {
  align-self: flex-start;
  padding: var(--length-40);
  padding-right: 0px;
  display: flex;
  flex-direction: row-reverse;
}
