:where(.footer) {
  inline-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: var(--length-40);
  padding-block: var(--length-40);
  background-color: var(--color-faded-8);
  overflow-x: hidden;
}

:where(.footer > *) {
  flex-grow: 1;
}

:where(.footer > div) {
  padding-block-start: var(--length-40);
}

:where(.footer ._vendor) {
  flex-shrink: 1;
  display: flex;
  justify-content: flex-start;
}

:where(.footer ._vendor span:only-of-type) {
  margin-inline-start: var(--length-8);
  margin-block-start: var(--length-20);
}

:where(.footer ._vendor svg) {
  inline-size: var(--length-80);
  block-size: var(--length-80);
}

:where(.footer ._vendor span:only-of-type span:last-of-type) {
  display: block;
  padding-inline-start: var(--length-6);
  min-inline-size: max-content;
  padding-block: 0px;
  margin-inline-end: 0px;
  margin-block: 0px;
  text-align: center;
  font-size: var(--length-12);
  line-height: var(--length-16);
  color: var(--color-text-2);
}

:where(.footer ._vendor span:only-of-type span:first-of-type) {
  display: inline-block;
  inline-size: max-content;
  font-weight: 700;
  margin-inline: var(--length-8);
  margin-block: var(--length-8);
  margin-block-start: calc(var(--length-6) * -1);
  font-size: var(--length-20);
  line-height: var(--length-28);
  word-break: keep-all;
  color: var(--color-accent);
}

:where(.footer ._vendor li:hover) {
  color: var(--color-text-3);
  border-color: var(--color-faded-4);
}

:where(.footer ._contacts) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  inline-size: max-content;
  margin-inline-end: var(--length-20);
  margin-inline-start: 4.75rem;
}

:where(.footer ._contacts li) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  inline-size: var(--length-40);
  margin-inline: var(--length-8);
  margin-block: var(--length-8);
  aspect-ratio: 1/1;
  color: var(--color-faded);
  text-decoration: none;
  transition: all 150ms ease-out 0s;
  border: var(--border-thick) solid var(--color-faded-4);
  border-radius: 10000px;
  background-color: var(--color-primary);
  background-clip: padding-box;
  box-shadow: var(--box-shadow-normal);
  font-size: var(--length-16);
  cursor: pointer;
}

:where(.footer ._contacts a) {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

:where(.footer ._contacts svg) {
  inline-size: var(--length-20);
  block-size: var(--length-20);
  aspect-ratio: 1/1;
  text-align: center;
  opacity: 0.7;
}

:where(.footer ._contacts .telegram) {
  margin-inline-start: calc(var(--length-2) * -1);
}

:where(.footer ._contacts .linkedin) {
  margin-block-start: calc(var(--length-2) * -1);
  margin-inline-end: calc(var(--length-1) * -1);
}

:where(.footer ._sitemap) {
  flex-shrink: 0;
  flex-grow: 1;
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr);
  padding-block: var(--length-40);
  padding-inline: var(--length-40);
  margin-block-start: var(--length-8);
}

:where(.footer ._sitemap a) {
  display: inline-block;
  margin-inline: var(--length-8);
  margin-block: var(--length-8);
  font-size: var(--length-12);
  color: var(--color-text);
  text-decoration: none;
  line-height: var(--length-16);
  opacity: 0.8;
}

:where(.footer ._sitemap li:nth-child(2n)) {
  margin-inline-start: auto;
}

:where(.footer ._credentials) {
  flex-shrink: 1;
  align-self: flex-start;
  display: flex;
  flex-direction: row-reverse;
  padding-inline-start: var(--length-40);
  padding-block: var(--length-40);
  padding-inline-end: var(--length-8);
}

:where(.footer ._credentials li) {
  max-inline-size: var(--length-80);
  padding-inline: var(--length-2);
}

@supports not (container-type: size) {
  @media (max-width: 1100px) {
    :where(.footer ._vendor span:only-of-type) {
      text-align: center;
    }

    :where(.footer ._vendor) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    :where(.footer ._vendor a) {
      margin-inline-start: var(--length-20);
      margin-block-end: calc(var(--length-10) * -1);
    }

    :where(.footer ._contacts) {
      display: flex;
      justify-content: center;
      margin-inline: 0px;
      margin-block: var(--length-16);
      margin-left: auto;
      margin-right: auto;
    }

    :where(.footer ._sitemap) {
      padding-inline: var(--length-32);
      margin-inline-start: var(--length-48);
      margin-inline-end: var(--length-48);
    }

    :where(.footer ._credentials) {
      justify-content: center;
      padding-inline: var(--length-80);
      margin-inline: var(--length-32);
    }
  }

  @media (max-width: 550px) {
    :where(.footer ._contacts) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline: var(--length-4);
      text-align: center;
      flex-wrap: wrap;
    }

    :where(.footer address:only-of-type) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    :where(.footer ._sitemap) {
      padding-inline: var(--length-32);
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
  }

  @media (max-width: 300px) {
    :where(.footer ._contacts) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    :where(.footer ._sitemap) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    :where(.footer ._sitemap li) {
      margin-inline: 0px;
      margin-block: 0px;
    }
  }
}

:where(.footer) {
  container-type: size;
  container-name: footer;
}

@container footer (max-width: 1100px) {
  :where(.footer ._vendor span:only-of-type) {
    text-align: center;
  }

  :where(.footer ._vendor) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  :where(.footer ._vendor a) {
    margin-inline-start: var(--length-20);
    margin-block-end: calc(var(--length-10) * -1);
  }

  :where(.footer ._contacts) {
    display: flex;
    justify-content: center;
    margin-inline: 0px;
    margin-block: var(--length-16);
    margin-left: auto;
    margin-right: auto;
  }

  :where(.footer ._sitemap) {
    padding-inline: var(--length-32);
    margin-inline-start: var(--length-48);
    margin-inline-end: var(--length-48);
  }

  :where(.footer ._credentials) {
    justify-content: center;
    padding-inline: var(--length-80);
    margin-inline: var(--length-32);
  }
}

@container footer (max-width: 550px) {
  :where(.footer ._contacts) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline: var(--length-4);
    text-align: center;
  }

  :where(.footer address) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :where(.footer ._sitemap) {
    padding-inline: var(--length-32);
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

@container footer (max-width: 300px) {
  :where(.footer ._contacts) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  :where(.footer ._sitemap) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  :where(.footer ._sitemap li) {
    margin-inline: 0px;
    margin-block: 0px;
  }
}
