@import "../assets/base.css";

.image-item {
    --image-item-background-color : hsl(0, 0%, 100%) ;
    --image-item-color : hsl(218, 6%, 24%) ;
}

:where(.image-item) {
    position: relative;
    inline-size: 100%;
    padding: 0.1875rem;
    background-color: var(--image-item-background-color);
    border: 1px solid var(--image-item-background-color);
    border-radius: 0.75rem;
    box-shadow: hsla(218, 6%, 24%, 0.06) 0px 1px 0px, hsla(0, 0%, 0%, 0.3) 0px 8px 32px -16px;
    cursor: pointer;
}

:where(.image-item>img:first-of-type) {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    border-radius: 0.75rem;
}

:where(.image-item>figcaption:first-of-type) {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 0.25rem 1rem 0.25rem 0.8125rem;
    border-top-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--image-item-background-color);
    line-height: 1.5rem;
    color: var(--image-item-color);

}

:where(html[dir="rtl"] .image-item>figcaption:first-of-type) {
    left: 0px;
    right: initial;
    border-top-left-radius: initial;
    border-bottom-right-radius: initial;
    border-top-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}