:where(.image-item) {
  position: relative;
  inline-size: 100%;
  padding-inline: min(var(--length-3), 6px);
  padding-block: min(var(--length-3), 6px);
  border: var(--border-normal) solid var(--color-primary);
  border-radius: min(var(--length-12), 16px);
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow-normal);
  overflow-x: hidden;
}

:where(.image-item img) {
  display: inline-block;
  inline-size: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  border-radius: min(var(--length-12), 16px);
}

:where(.image-item p) {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-inline-size: 75%;
  inset-inline-start: 0px;
  inset-block-end: 0px;
  padding-block-start: min(var(--length-4), 8px);
  padding-inline-end: min(var(--length-8), 12px);
  padding-block-end: min(var(--length-4), 8px);
  padding-inline-start: min(var(--length-14), 24px);
  border-start-end-radius: min(var(--length-12), 16px);
  font-size: min(var(--length-16), 32px);
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-primary);
  line-height: var(--length-24);
}

:where(.image-item p span) {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: min(var(--length-16), 32px);
  margin-block-end: 0px;
  padding-inline-end: min(var(--length-8), 12px);
  margin-block-start: var(--length-2);
  aspect-ratio: 1/1;
  transition: all 200ms ease-in-out 0s;
  transform: rotate(180deg);
}

:where(.image-item svg) {
  display: inline-block;
  inline-size: min(var(--length-10), 20px);
  block-size: min(var(--length-10), 20px);
  aspect-ratio: 1/1;
}

:where(.image-item p span:hover) {
  transform: rotate(180deg) translateX(calc(var(--length-2) * -1));
}

:where(html[dir="rtl"] .image-item p) {
  gap: var(--length-4);
}

:where(html[dir="rtl"] .image-item p span) {
  transform: none;
}

:where(html[dir="rtl"] .image-item p span:hover) {
  transform: translateX(calc(var(--length-2) * -1));
}
