:where(.image-item) {
  position: relative;
  inline-size: 100%;
  padding-inline: var(--length-3);
  padding-block: var(--length-3);
  border: var(--length-1) solid var(--color-primary);
  border-radius: var(--length-12);
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow-normal);
}

:where(.image-item > img) {
  inline-size: 100%;
  aspect-ratio: 2/1;
  display: inline-block;
  object-fit: cover;
  border-radius: var(--length-12);
}

:where(.image-item ._title) {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row-reverse; */
  max-inline-size: 75%;
  inset-inline-start: 0px;
  inset-block-end: 0px;
  padding-block-start: var(--length-4);
  padding-inline-end: var(--length-8);
  padding-block-end: var(--length-4);
  padding-inline-start: var(--length-14);
  border-start-end-radius: var(--length-12);
  /* border-end-end-radius: var(--length-12); */
  font-size: var(--length-16);
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-primary);
  line-height: var(--length-24);
  word-break: break-all;

}

:where(.image-item ._title > span) {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: var(--length-16);
  margin-block-end: 0px;
  padding-inline-end: var(--length-8);
  margin-block-start: var(--length-2);
  aspect-ratio: 1/1;
  transition: all 200ms ease-in-out 0s;
  transform: rotate(180deg);
}

:where(.image-item ._title > span:hover) {
  transform: none;
  transform: rotate(180deg) translateX(calc(var(--length-2) * -1));
}

:where(html[dir="rtl"] .image-item ._title) {
    gap: 5px;
}
:where(html[dir="rtl"] .image-item ._title > span) {
  transform: none;
  /* margin-inline: 10px; */
}

:where(html[dir="rtl"] .image-item ._title > span:hover) {
  transform: translateX(calc(var(--length-2) * -1));
}
