:where(.nav ul) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  inline-size: 100%;
  padding-block-start: min(var(--length-16), 28px);
  font-size: var(--length-12);
  overflow-x: auto;
}

:where(.nav li) {
  flex-grow: 1;
  flex-shrink: 1;
  min-inline-size: var(--length-80);
}

:where(.nav a) {
  text-decoration: none;
}

:where(.nav ._name) {
  color: var(--color-text-2);
  line-height: var(--length-16);
  font-weight: 400;
  max-inline-size: 75%;
  overflow-wrap: break-word;
}

:where(.nav a span:first-child) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-end: min(var(--length-16), 28px);
}

:where(.nav a img) {
  display: inline-block;
  inline-size: var(--length-48);
  max-inline-size: var(--length-48);
  margin-block-end: min(var(--length-16), 28px);
  aspect-ratio: 1/1;
}

:where(html[dir="rtl"] .nav ul) {
  flex-direction: row;
  direction: rtl;
}

@media (pointer: coarse) {
  :where(.nav a) {
    min-block-size: var(--length-coarse-min);
  }
}
