:where(.options-card) {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding-inline: var(--length-12);
  padding-block: var(--length-12);
  background-color: var(--color-faded-8);
  overflow: auto;
}

:where(.options-card div) {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  inline-size: 100%;
  min-inline-size: 9rem;
  margin-block: var(--length-12);
  padding-block: var(--length-12);
  padding-inline: var(--length-14);
  border: var(--border-normal) solid var(--color-faded-4);
  font-size: var(--length-12);
  color: var(color-text-2);
  background-color: var(--color-primary);
  border-radius: var(--length-8);
}

:where(.options-card div *) {
  text-align: center;
}

:where(.options-card div dt) {
  padding-inline-end: var(--length-4);
  padding-inline-start: var(--length-16);
}

:where(.options-card div[data-interactive]) {
  justify-content: space-between;
}

:where(.options-card div[data-interactive] dt) {
  margin-inline-start: auto;
}

:where(.options-card div[data-interactive] dd) {
  margin-inline-end: auto;
}

:where(.options-card div button) {
  flex-shrink: 0;
  padding-inline: var(--length-16);
  border: none;
  background-color: transparent;
}

:where(.options-card div > svg) {
  inline-size: var(--length-16);
  block-size: var(--length-16);
  aspect-ratio: 1/1;
}

:where(.options-card div button svg) {
  transform: rotate(-90deg);
}
