:where(.tabular-list) {
  inline-size: 100%;
  padding-inline: var(--length-32);
  padding-block: var(--length-32);
  border-block-start: var(--border-normal) solid var(--color-faded-2);
  background-color: var(--color-primary);
}

:where(.tabular-list > p) {
  margin-block-end: var(--length-32);
  font-size: var(--length-16);
  font-weight: 700;
  color: var(--color-text);
}

:where(.tabular-list ._list) {
  --length-item-min : 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--length-item-min), 1fr));
  inline-size: 100%;
  margin: calc(var(--length-4) * -1);
}

:where(.tabular-list ._item) {
  padding-inline: var(--length-6);
  padding-block: var(--length-6);
  font-weight: 400;
  font-size: var(--length-10);
  line-height: var(--length-12);
  margin-inline: 0px;
  margin-block: 0px;
  color: var(--color-faded-8); //WCAG AA 4.5 contrast ration violation fixed
  text-align: start;
}

:where(.tabular-list a) {
  text-decoration: none;
  color: inherit;
}
