@import "modern-normalize/modern-normalize.css";

@font-face {
  font-family: "IRANSans";
  src: url("IRANSans.woff2");
  font-display: swap;
}

:root {
  --radius-round: 1e5px;

  --length-1: 0.0625rem;
  --length-2: 0.125rem;
  --length-4: 0.25rem;
  --length-8: 0.5rem;
  --length-10: 0.625rem;
  --length-12: 0.75rem;
  --length-14: 0.875rem;
  --length-16: 1rem;
  --length-20: 1.25rem;
  --length-24: 1.5rem;
  --length-28: 1.75rem;
  --length-32: 2rem;
  --length-48: 3rem;
  --length-64: 4rem;
  --length-80: 5rem;

  --border-1: 0.5px;
  --border-2: 1px;
  --border-3: 1.5px;
  --border-4: 2px;
  --border-6: 3px;

  --size-1: 2px;
  --size-2: 4px;
  --size-3: 6px;
  --size-4: 8px;
  --size-5: 10px;
  --size-6: 12px;
  --size-8: 16px;
  --size-10: 20px;
  --size-12: 24px;
  --size-16: 32px;
  --size-24: 48px;
  --size-32: 64px;

  --weight-1: 300;
  --weight-2: normal;
  --weight-3: 500;
  --weight-4: bold;

  --min-touchable-size: 44px;

  --global-svg-color: hsl(218, 6%, 24%);
}

*,
*::before,
*::after {
  margin: 0;
  font-family: "IRANSans", system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ Helvetica, Roboto,
    "Segoe UI", sans-serif, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

html,
body {
  height: 100%;
}

#root,
#__next {
  isolation: isolate;
}

.nonvisual {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

ol,
ul,
dl,
dd,
dt,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ol,
li {
  display: inline;
}
